[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog.git
	shallow = true
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
	shallow = true
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
	shallow = true
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm.git
	shallow = true
[submodule "vendor/glslang"]
	path = vendor/glslang
	url = https://github.com/KhronosGroup/glslang.git
	shallow = true
[submodule "vendor/VulkanMemoryAllocator"]
	path = vendor/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
	shallow = true
[submodule "vendor/assimp"]
	path = vendor/assimp
	url = https://github.com/assimp/assimp.git
	shallow = true
[submodule "vendor/tracy"]
	path = vendor/tracy
	url = https://github.com/wolfpld/tracy.git
	shallow = true
[submodule "vendor/entt"]
	path = vendor/entt
	url = https://github.com/skypjack/entt.git
	shallow = true